body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: none;
    background-image: url(https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_lg_2x/f_auto/primary/xtn2ssecfhdlb9tgonnx);
    background-repeat: no-repeat;
}

header, footer {
    margin: 0;
    padding: 0;
    background-color: #171c22;
    color: #fcfcfc;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

header {
    position: sticky;
    top: 0;
}

.badge img {
    width: 30px;
}

.badge {
    display: flex;
    gap: 15px;
    align-items: center;
}

.badge .title {
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.nav-bar {
    display: flex;
    gap: 30px;
    font-weight: bold;
    align-items: center;
}

header > .menu {
    display: none;
}

.nav-bar > div:hover {
    color: gray;
    background-color: #fcfcfc;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateY(-5px);
}

main {
    height: 100vh;
    z-index: -1;
}

main::after {
    content: attr(data-label);
}

main .content {
    padding: 20vh 20vw;
    width: 50vw;
    color: #fcfcfc;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .primary {
    font-weight: bolder;
    font-size: 40px;
}

.btn-group button:hover {
    cursor: pointer;
}

.btn-group button {
    padding: 10px;
    border-radius: 10px;
    border: 0px
}

.btn-group button:hover {
    box-shadow: #000000;
    opacity: 0.8;
    font-weight: bold;
    transform: translateZ(2);
    transform: translateY(-5px);
}

.btn-group .blue {
    color: #fcfcfc;
    background-color: #207dff;
}

.btn-group .green {
    color: #fcfcfc;
    background-color: #00bd57;
}

footer {
    padding: 20px;
    gap: 5vw;
    position: sticky;
    bottom: 0;
}

footer .vs {
    display: flex;
    gap: 20px;
    align-items: center;
    grid-area: vs;
}

.img-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

[class*="team"] {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "vs match timebox button";
    align-content: center;
}

footer .match {
    display: flex;
    flex-direction: column;
    gap: 10px;
    grid-area: match;
}

footer .match .primary {
    color: #757a7f;
    font-weight: bolder;
}

footer .timebox {
    display: inline-flex;
    flex-direction: row;
    gap: 20px;
    grid-area: timebox;
}

footer .timebox .divider {
    height: 50px;
    width: 2px;
    background-color: #fcfcfc;
}

footer > div > .btn-group {
    grid-area: button;
}

.timebox div .timer {
    font-weight: bold;
    font-size: 30px
}

@media (width <=900px) {
    .nav-bar {
        display: none;
    }

    header > .menu {
        display: block;
        align-items: center;
        justify-items: center;
    }

    header > .menu:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }

    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "vs match"
        "timebox button";
    }
}